<nav class="bg-white border-b border-gray-200" x-data="{ menuOpen: false }" @click.away="menuOpen = false">
	<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
		<div class="flex justify-between h-24">
			<div class="flex">
				{{ if .Site.Params.Avatar }}
				<a href="{{ .Site.BaseURL }}" class="flex-shrink-0 flex items-center space-x-4">
					<img class="h-16 w-auto rounded-full" src="{{ .Site.Params.Avatar | safeURL }}" alt="{{ .Site.Title }}">
					<h1 class="site-title text-2xl">{{ .Site.Title }}</h1>
				</a>
				{{ end }}
				<div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
					{{ $currentPage := . }}
					{{ range .Site.Menus.main }}
					<a href="{{ .URL }}" class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} border-indigo-500 text-gray-900 {{ else }} border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 {{ end }} inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
						{{ .Name }}
					</a>
					{{ end }}
				</div>
			</div>
			<div class="hidden sm:ml-6 sm:flex sm:items-center space-x-2">
				{{- range $index, $key := .Site.Params.Social -}}
				<a class="bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
					href="{{ $key.url }}" title="{{ $key.name }}">
					<i class="h-4 w-4" data-feather="{{ $key.icon }}"></i>
				</a>
				{{- end -}}
				{{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
				<a class="bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
					class="scheme-toggle" id="scheme-toggle"></a>
				{{- end -}}
			</div>
			<div class="-mr-2 flex items-center sm:hidden">
				<button type="button" @click="menuOpen=!menuOpen"
					class="bg-white inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
					aria-controls="mobile-menu" aria-expanded="false">
					<span class="sr-only">Open main menu</span>
					<svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
						stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M4 6h16M4 12h16M4 18h16" />
					</svg>
					<svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
						stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M6 18L18 6M6 6l12 12" />
					</svg>
				</button>
			</div>
		</div>
	</div>
	<div class="sm:hidden" id="mobile-menu" x-show="menuOpen">
		<div class="pt-2 pb-3 space-y-1">
			{{ range .Site.Menus.main }}
			<a href="{{ .URL }}"
			class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} bg-indigo-50 border-indigo-500 text-indigo-700 {{ else }} border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 {{ end }} block pl-3 pr-4 py-2 border-l-4 text-base font-medium">
				{{ .Name }}
			</a>
			{{ end }}
			{{- range $index, $key := .Site.Params.Social -}}
			<a href="{{ $key.url }}" title="{{ $key.name }}" class="flex flex-row items-center space-x-2 justify-start text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 border-transparent block pl-3 pr-4 py-2 border-l-4 text-base font-medium">
				<i class="h-6 w-6" data-feather="{{ $key.icon }}"></i>
				<span>
					{{ $key.name }}
				</span>
			</a>
			{{- end -}}
		</div>
	</div>
</nav>